.penguin-buynow{
width: 130px;
height: 60px;
/* left: 135px;
top: 424px; */
background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
border-radius: 10px;
}
.modellady{
    width: 500px;
    height: 530px;
}